body {
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  margin: 0; 
  font-family: arial, sans-serif;
  background-color: lightblue;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;     
}

/* .dropzone {
  border: 2px dashed #007bff;
  border-radius: 5px;
  background: #f9f9f9;
  padding: 20px;
  text-align: center;
} */

.box-button {
  left: 20px;
  top: 10px;
  position:relative;
  cursor: pointer;
  border: 4px solid black;
  background-color: gray;
  padding-bottom: 10px;
  transition: 0.1s ease-in-out;
  user-select: none;
  display: inline-block;
  text-align: center;
}

.button {
  background-color: #dddddd;
  border: 4px solid #fff;
  padding: 3px 8px;
}

.button span {
  font-size: 1.2em;
  letter-spacing: 1px;
}

.box-button:active {
  padding: 0;
  margin-bottom: 10px;
  transform: translateY(10px);
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 40%;
  }

th {
    border: 3px solid;
    text-align: left;
    padding: 8px;
    background-color: yellowgreen;
  }

td {
    border: 3px solid;
    text-align: left;
    padding: 8px;
    background-color: antiquewhite;
    transform: antiquewhite;
  }

a {
  font-weight: bold;
  color: black;
  transition: transform 0.25s ease-in-out, color 0.1s ease-in-out; /* Ajout de la transition pour la mise à l'échelle */
  display: inline-block; /* Cela permet à l'élément de se mettre à l'échelle sans problème */
}

a:hover {
  color: gray; /* Change la couleur au survol */
  transform: scale(1.1); /* Augmente la taille du texte à 150% */
  transform-origin: center; /* Le point d'origine de l'échelle est centré */
}