body {
  background-color: black;
  margin: 0;
  overflow: hidden; /* évite le scroll inutile */
}

.icon {
    width: 18px;
    vertical-align: middle;
    margin-right: 6px;
    padding: 2px;
  }
  
tr {
  width: 18px;
  vertical-align: middle;
  margin-right: 6px;
  padding: 2px;
}